body {
  overflow-y: hidden;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.TODOwriteContent {
  margin-top: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 90%;
}

.div-tabla {
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.434);
  border-radius: 25px;
  padding: 24px;
  overflow: hidden;
  max-height: 80%;
}

.tablita {
  max-height: 80%;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 3px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.textos {
  display: flex;
  flex-direction: column;
  color: black;

  & p {
    font-size: 15px;
  }
  & span {
    font-size: 24px;
    font-weight: bold;
  }
}
table {
  border-collapse: separate;
  border: 2px solid rgb(0, 0, 0);
  width: 100%;
  margin-top: 20px;
  border-radius: 10px;
  overflow: hidden;
  border-spacing: 0;
}

th,
td {
  border-top: 1px solid #000000;
  padding: 15px 24px;
  text-align: center;

  & span {
    cursor: pointer;
  }
}

th {
  background-color: transparent;
  padding: 15px 24px;
}

.formulario {
  background-color: rgb(51, 55, 62);
  max-height: 80%;
  border-radius: 25px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  width: 50vh;
  margin: 10px;

  & form {
    height: 100%;
  }
}

.in-form {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%; /* Ocupa toda la altura del contenedor .formulario */
}

.container-inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 20%;
}

.inputs {
  display: flex;
  flex-direction: column;

  & label {
    color: white;
  }
}

.inputss {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;

  & label {
    color: white;
    font-size: 20px;
  }
}

.inputs input {
  min-height: 30px;
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid rgb(255, 255, 255);
  font-size: 20px;
  color: white;
}

.inputs input:focus {
  outline: none;
  border: none;
  border-bottom: 2px solid white;
}

.inputs input::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.inputs input::-webkit-input-placeholder {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.in-form button {
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
  border-radius: 25px;
  border: 0;
  margin-top: auto;
}

.inputss input {
  min-height: 30px;
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid rgb(255, 255, 255);
  font-size: 20px;
  color: white;
  width: 100%;
}

.inputss input:focus {
  outline: none;
  border: none;
  border-bottom: 2px solid white;
}

.inputss input::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.inputss input::-webkit-input-placeholder {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
