body {
  background: #f6f3e4;
}

.border-button {
  background-color: #adc178; /* Color de fondo */
  border: 2px solid #adc178; /* Borde del botón */
  color: white; /* Color del texto */
  padding: 10px 20px; /* Espaciado interno del botón */
  text-align: center; /* Alineación del texto */
  text-decoration: none; /* Decoración del texto (en este caso, ninguno) */
  display: inline-block; /* Mostrar como bloque en línea */
  font-size: 16px; /* Tamaño del texto */
  cursor: pointer; /* Cambiar el cursor al pasar el mouse sobre el botón */
  border-radius: 5px; /* Radio de los bordes para hacerlos redondeados */
  font-weight: bold;
  margin-left: 24px;
}

/* Cambio de estilo al pasar el mouse sobre el botón */
.border-button:hover {
  background-color: #dde5b6;
  color: #adc178;
  font-weight: bold;
}

.contenedor {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  gap: 60px;
  max-height: 300px;
  min-height: 300px;
}

p {
  font-size: 24px;
}

.border-button {
  border: 1px solid #ccc;
  padding: 10px;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  display: block;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}
