body {
  background-color: white;
  font-family: "Karla", sans-serif;
  margin: 0;
  padding: 0;
}

.cardsillas_content {
  display: flex;
  width: 100%;
  max-width: 1196px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.titulo_cardsillas {
  color: black;
  margin: 0 0 1rem;
}

.text_dec_cardsillas {
  color: black;
  margin: 0 0 1rem;
}

.cardsillas_desp_content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 1.5rem 1.5rem;
  margin: 1.5%;
  align-items: self-end;
}

.imagensillas_cards {
  display: block;
  margin: 0 auto 1.5rem;
  max-width: 232px;
  max-height: 100px;
}

.cardsillas_desp {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 2px 0 0 rgba(29, 29, 29, 0.103);
  border-radius: 20px;
  margin-left: 15px;
}

<<<<<<< HEAD
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-left: 23px;
  padding-right: 23px;
  text-align: justify;
}

.TODOwriteNavbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.title {
  margin-top: 15vh;
  margin-left: 15%;
  margin-right: 15%;
}

.span {
  font-size: 70px;
  font-family: "Karla", sans-serif;
  line-height: 1;
  text-align: center;
  color: black;
  margin: 0;
}

.texto-grande {
  font-size: 70px;
  font-family: "Karla", sans-serif;
  line-height: 1;
  text-align: center;
  color: black;
  margin: 0;
  color: #009640;
}

.TODOWriteMain {
  min-height: 100vh;
  background-image: url(../resources/FondoDer.png),
    url(../resources/FondoIzq.png);
  background-position: right, left;
  background-repeat: no-repeat;
  background-size: auto;
  background-size: 461px 700px, 461px 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Estilo para navegadores webkit (Chrome, Safari) */
::-webkit-scrollbar {
  width: 6px; /* Ancho de la barra de desplazamiento */
}

::-webkit-scrollbar-thumb {
  background-color: #cccccc; /* Color del "pulgón" de la barra de desplazamiento */
  border-radius: 6px; /* Radio de la esquina del "pulgón" */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Color de fondo de la barra de desplazamiento */
}

.texto-main {
  font-family: "Karla", sans-serif;
  font-size: 16px; /* Ajusta el tamaño de la fuente según tus necesidades */
  color: black;
  margin: 0;
  padding: 20px;
  text-align: justify;
}

.text {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 20%;
}

.botones {
  display: flex;
  flex-direction: row;
  margin-bottom: 55px;
}

.botoncitos-main {
  padding: 15px 40px;
  margin: 0px 20px;
  border-radius: 25px;
  cursor: pointer;
  background-color: #009640;
  border: 0;
  color: white;
  font-weight: bold;
  font-size: 18px;
  box-shadow: 0px 2px 0 0 rgba(29, 29, 29, 0.103);
  transition: background-color 0.3s ease;
}
.botoncitos-main:hover {
  background-color: #79cc5c;
}

.contenedor-menu {
  position: relative;
  display: inline-block;
}

.menu-desplegable {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  z-index: 1;
}

.contenedor-menu:hover .menu-desplegable {
  display: block;
}

.menu-desplegable a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
}

.menu-desplegable a:hover {
  background-color: #f0f0f0;
}
=======
p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-left: 23px;
    padding-right: 23px;
    text-align:justify ;
}

.section_card_alimentillos{
    width: 100%;
    max-width: 1196px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.container_card_alimentillos{
    display: block;
    position: relative;
    text-align: left;
    background-color: #c9e265;
    color: #009640;
    padding: 10px 40px 40px 40px;
    border-radius: 20px;

}

.titulo_card_alimentillo{
    max-width: 50%;
    margin-bottom: 3.5rem;
}

.img_card_alimentillos{
    margin: 0;
    transform: none;
    position: absolute;
    right: 1rem;
    bottom: -1rem;
    width: 213px;
    max-width: 100%;
    height: auto;
}

.a_card_alimentillos{
    text-decoration: none;
    white-space: nowrap;
    display: inline-block;
    color: #009640;
    background-color: white;
    border-radius: 24px;
    padding: 10px 20px;
    font-weight: 700;
}

.a_card_alimentillos:hover{
    background-color: #009640;
    color: white;
    transition: 0.5s;
}
>>>>>>> 88f04cf699cb19b88baa46c56995c5c1adcdbf02
