body {
  background-image: url(../../../assets/bg-linespt1.png),
    url(../../../assets/bg-linespt2.png);
  background-repeat: no-repeat;
  background-size: 850px;
  background-position-x: 160%, -80%;
  background-position-y: -119%, 60%;
  transition: background-size 0.5s ease;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 247, 247);
}
.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-right: 10rem;
  margin-left: 5rem;
}
.texto {
  margin-top: 18%;
}
.text-emot {
  font-family: "Nunito", sans-serif;
  font-size: xxx-large;
}
.btn-ope {
  margin-top: 120%;
  min-width: 60%;
  background-color: #b9f0d1;
}

.pop-don-hog-1 {
  display: flex;
  flex-direction: column;
}

.zip-code {
  border-radius: 1rem;
}
